upload-service/node_modules/
upload-service/dist/
upload-service/.env

deploy-service/node_modules/
deploy-service/dist/
deploy-service/.env

reverse-proxy/node_modules/
reverse-proxy/dist/
reverse-proxy/.env

build-server/node_modules/
build-server/dist/
build-server/.env

k8s/node_modules/
k8s/dist/
k8s/.env